
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html class="no-js" lang="kr">
<head>
    <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>일랑일랑 미술학원 관리자페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/ylangylang-html/admin/assets/images/icon/favicon.ico">
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/metisMenu.css">
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/slicknav.min.css">
  <!-- amchart css -->
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <!-- others css -->
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/typography.css">
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/default-css.css">
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/styles.css">
  <link rel="stylesheet" href="/ylangylang-html/admin/assets/css/responsive.css">
  <!-- modernizr css -->
  <script src="/ylangylang-html/admin/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">    
    <link href="/ylangylang-html/admin/assets/css/calendar.css" rel="stylesheet">
    
    <!-- bootstrap 4 js -->
    <!-- <!-- <script src="/ylangylang-html/admin/assets/js/popper.min.js"></script> --> -->
    <!-- <script src="/ylangylang-html/admin/assets/js/bootstrap.min.js"></script> -->
    
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script>
    
    <script src="/ylangylang-html/admin/assets/js/calendar.js"></script>


</head>
<body>
    <!-- <div id="preloader">
        <div class="loader"></div>
      </div> -->
      <!-- preloader area end -->
      <!-- page container area start -->
      <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
          <div class="sidebar-header">
            <div class="logo">
              <a href="/ylangylang-html/admin/index.html"><img src="/ylangylang-html/admin/assets/images/icon/logo.png" alt="logo"></a>
            </div>
          </div>
          <div class="main-menu">
            <div class="menu-inner">
              <nav>
                <ul class="metismenu" id="menu">
                  <li><a href="/ylangylang-html/admin/index.html"><i class="ti-dashboard"></i> <span>dashboard</span></a></li>
                  <li><a href="/ylangylang-html/admin/view/login/login.html"><i class="ti-lock"></i> <span>로그인</span></a></li>
                  <li>
                    <a href="javascript:void(0)" aria-expanded="true"><i class="ti-home"></i><span>메인 관리</span></a>
                    <ul class="collapse">
                      <li><a href="/ylangylang-html/admin/view/main/mainImage/list.html">메인이미지 관리</a></li>
                      <li><a href="/ylangylang-html/admin/view/main/popup/list.html">팝업 관리</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="javascript:void(0)" aria-expanded="true"><i class="ti-info-alt"></i><span>학원소개 관리</span></a>
                    <ul class="collapse">
                      <li><a href="/ylangylang-html/admin/view/introduce/introduce/edit.html">학원소개 관리</a></li>
                      <li><a href="/ylangylang-html/admin/view/introduce/teacher/list.html">선생님 관리</a></li class="active">
                      <li><a href="/ylangylang-html/admin/view/introduce/history/list.html">학원연혁 관리</a></li class="active">
                      <li><a href="/ylangylang-html/admin/view/introduce/location/edit.html">찾아오시는길 관리</a></li>
                    </ul>
                  </li>
                  <li><a href="/ylangylang-html/admin/view/program/list.html"><i class="ti-desktop"></i> <span>프로그램 관리</span></a></li class="active">
                  <li>
                    <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>갤러리 관리</span></a>
                    <ul class="collapse">
                      <li><a href="/ylangylang-html/admin/view/gallery/list1.html">유아부 관리</a></li>
                      <li><a href="/ylangylang-html/admin/view/gallery/list2.html">유치부 관리</a></li>
                      <li><a href="/ylangylang-html/admin/view/gallery/list3.html">초등부 관리</a></li>
                    </ul>
                  </li>
                  <li class="active">
                    <a href="javascript:void(0)" aria-expanded="true"><i class="ti-comments-smiley"></i><span>커뮤니티 관리</span></a>
                    <ul class="collapse">
                      <li><a href="/ylangylang-html/admin/view/community/news/list.html">학원소식 관리</a></li>
                      <li><a href="/ylangylang-html/admin/view/community/faq/list.html">자주묻는질문 관리</a></li class="active">
                      <li class="active"><a href="/ylangylang-html/admin/view/community/qna/list.html">1:1문의 관리</a></li class="active">
                      <li><a href="/ylangylang-html/admin/view/community/reservation/list.html">상담예약 관리</a></li>
                      <li><a href="/ylangylang-html/admin/view/community/reservation/disable.html">상담예약 불가일자 관리</a></li>
                    </ul>
                  </li>
                  <li><a href="/ylangylang-html/admin/view/account/list.html"><i class="ti-user"></i> <span>관리자계정 관리</span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
          <!-- header area start -->
          <div class="header-area">
            <div class="row align-items-center">
              <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
              <!-- profile info & task notification -->
              <div class="col-md-6 col-sm-4 clearfix">
                <ul class="notification-area pull-right">
                  <li id="full-view">환영합니다. 전체관리자님!</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- header area end -->
          <!-- page title area start -->
          <div class="page-title-area">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                  <h4 class="page-title pull-left">상담예약 관리 <span>목록</span></h4>
                  <ul class="breadcrumbs pull-left">
                    <li><span>커뮤니티 관리</span></li>
                    <li><span>></span></li>
                    <li><span>상담예약 관리</span></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 clearfix">
                <div class="user-profile pull-right" style="background: white;">
                    <h4 class="user-name" style="cursor: auto;">user-name</h4>
                </div>
            </div>
            </div>
          </div>
          <!-- page title area end -->
          <!-- main content area start -->
          <div class="main-content-inner">
            <div class="row">
                <div class="p-5">
                    <h2 class="mb-4">Full Calendar</h2>
                    <div class="card">
                      <div class="card-body p-0">
                        <div id="calendar"></div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- calendar modal -->
                  <div id="modal-view-event" class="modal modal-top fade calendar-modal">
                          <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                  <div class="modal-body">
                                      <h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
                                      <div class="event-body"></div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  
                  <div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <form id="add-event">
                          <div class="modal-body">
                          <h4>Add Event Detail</h4>        
                            <div class="form-group">
                              <label>Event name</label>
                              <input type="text" class="form-control" name="ename">
                            </div>
                            <div class="form-group">
                              <label>Event Date</label>
                              <input type='text' class="datetimepicker form-control" name="edate">
                            </div>        
                            <div class="form-group">
                              <label>Event Description</label>
                              <textarea class="form-control" name="edesc"></textarea>
                            </div>
                            <div class="form-group">
                              <label>Event Color</label>
                              <select class="form-control" name="ecolor">
                                <option value="fc-bg-default">fc-bg-default</option>
                                <option value="fc-bg-blue">fc-bg-blue</option>
                                <option value="fc-bg-lightgreen">fc-bg-lightgreen</option>
                                <option value="fc-bg-pinkred">fc-bg-pinkred</option>
                                <option value="fc-bg-deepskyblue">fc-bg-deepskyblue</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Event Icon</label>
                              <select class="form-control" name="eicon">
                                <option value="circle">circle</option>
                                <option value="cog">cog</option>
                                <option value="group">group</option>
                                <option value="suitcase">suitcase</option>
                                <option value="calendar">calendar</option>
                              </select>
                            </div>        
                        </div>
                          <div class="modal-footer">
                          <button type="submit" class="btn btn-primary" >Save</button>
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  
</div>
<!-- row end -->
</div>
<!-- main content area end -->
<!-- footer area start-->
<footer>
<div class="footer-area">
<p>&copy; 2020 YlangYlang ArtCenter</p>
</div>
</footer>
<!-- footer area end-->
</div>



</body>
</html>
