<!doctype html>
<html class="no-js" lang="kr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>일랑일랑 미술학원 관리자페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/admin/assets/images/icon/favicon.ico">
  <link rel="stylesheet" href="/admin/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/admin/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/admin/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/admin/assets/css/metisMenu.css">
  <link rel="stylesheet" href="/admin/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/admin/assets/css/slicknav.min.css">
  <!-- amchart css -->
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <!-- others css -->
  <link rel="stylesheet" href="/admin/assets/css/typography.css">
  <link rel="stylesheet" href="/admin/assets/css/default-css.css">
  <link rel="stylesheet" href="/admin/assets/css/styles.css">
  <link rel="stylesheet" href="/admin/assets/css/responsive.css">
  <!-- modernizr css -->
  <script src="/admin/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
  <div id="preloader">
    <div class="loader"></div>
  </div>
  <!-- preloader area end -->
  <!-- page container area start -->
  <div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
      <div class="sidebar-header">
        <div class="logo">
          <a href="/admin/index.html"><img src="/admin/assets/images/icon/logo.png" alt="logo"></a>
        </div>
      </div>
      <div class="main-menu">
        <div class="menu-inner">
          <nav>
            <ul class="metismenu" id="menu">
              <li><a href="/admin/index.html"><i class="ti-dashboard"></i> <span>dashboard</span></a></li>
              <li><a href="/admin/view/login/login.html"><i class="ti-lock"></i> <span>로그인</span></a></li>
              <li class="active">
                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-home"></i><span>메인 관리</span></a>
                <ul class="collapse">
                  <li class="active"><a href="/admin/view/main/mainImage/list.html">메인이미지 관리</a></li>
                  <li><a href="/admin/view/main/popup/list.html">팝업 관리</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-info-alt"></i><span>학원소개 관리</span></a>
                <ul class="collapse">
                  <li><a href="/admin/view/introduce/introduce/edit.html">학원소개 관리</a></li>
                  <li><a href="/admin/view/introduce/teacher/list.html">선생님 관리</a></li>
                  <li><a href="/admin/view/introduce/history/list.html">학원연혁 관리</a></li>
                  <li><a href="/admin/view/introduce/location/edit.html">찾아오시는길 관리</a></li>
                </ul>
              </li>
              <li><a href="/admin/view/program/list.html"><i class="ti-desktop"></i> <span>프로그램 관리</span></a></li>
              <li>
                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>갤러리 관리</span></a>
                <ul class="collapse">
                  <li><a href="/admin/view/gallery/list1.html">유아부 관리</a></li>
                  <li><a href="/admin/view/gallery/list2.html">유치부 관리</a></li>
                  <li><a href="/admin/view/gallery/list3.html">초등부 관리</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-comments-smiley"></i><span>커뮤니티 관리</span></a>
                <ul class="collapse">
                  <li><a href="/admin/view/community/news/list.html">학원소식 관리</a></li>
                  <li><a href="/admin/view/community/faq/list.html">자주묻는질문 관리</a></li>
                  <li><a href="/admin/view/community/qna/list.html">1:1문의 관리</a></li>
                  <li><a href="/admin/view/community/reservation/list.html">상담예약 관리</a></li>
                  <li><a href="/admin/view/community/reservation/disable.html">상담예약 불가일자 관리</a></li>
                </ul>
              </li>
              <li><a href="/admin/view/account/list.html"><i class="ti-user"></i> <span>관리자계정 관리</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
      <!-- header area start -->
      <div class="header-area">
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-8 clearfix">
            <div class="nav-btn pull-left">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!-- profile info & task notification -->
          <div class="col-md-6 col-sm-4 clearfix">
            <ul class="notification-area pull-right">
              <li id="full-view">환영합니다. 전체관리자님!</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- header area end -->
      <!-- page title area start -->
      <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                  <h4 class="page-title pull-left">메인이미지 관리 <span>상세</span></h4>
                  <ul class="breadcrumbs pull-left">
                    <li><span>메인관리</span></li>
                    <li><span>></span></li>
                    <li><span>메인이미지 관리</span></li>
                  </ul>
                </div>
              </div>
          <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right" style="background: white;">
                <h4 class="user-name" style="cursor: auto;">user-name</h4>
            </div>
        </div>
        </div>
      </div>
      <!-- page title area end -->
      <div class="main-content-inner">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <form>
                          <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력해주세요.">
                            <div class="text-danger">제목을 입력해주세요.</div>
                          </div>
                          <div class="form-group">
                            <label for="contents">내용</label>
                            <input type="text" class="form-control" id="contents" placeholder="내용을 입력해주세요.">
                            <div class="text-danger">내용을 입력해주세요.</div>
                          </div>
                          <div class="form-group" style="margin-bottom: 0px;">
                            <label for="fileupload">메인이미지</label>
                            <input type="text" style="display: none;" id="fileupload">
                          </div>
                          <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01">
                                <label class="custom-file-label" for="inputGroupFile01">rolling1.jpg</label>
                            </div>
                          </div>
                          <div class="text-danger">파일을 업로드 해주세요.</div>
                          <div class="form-group mt-3" style="margin-bottom: -9px;">
                            <label for="fileupload">전시여부</label>
                            <input type="text" style="display: none;" id="fileupload">
                          </div>
                          <div class="form-group mt-2">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" checked id="customRadio4" name="customRadio2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio4">전시</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio5">전시안함</label>
                            </div>
                          </div>
                          <a href="/admin/view/main/mainImage/list.html" class="btn btn-outline-primary mt-4">목록으로</a>
                          <a href="javascript:void(0)" onclick="submit();" class="btn btn-outline-primary mt-4">수정</a>
                          <a href="javascript:void(0)" onclick="remove();" class="btn btn-outline-primary mt-4">삭제</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
      <div class="footer-area">
        <p>&copy; 2020 YlangYlang ArtCenter</p>
      </div>
    </footer>
    <!-- footer area end-->
  </div>
  <!-- page container area end -->

  <!-- jquery latest version -->
  <script src="/admin/assets/js/vendor/jquery-2.2.4.min.js"></script>
  <!-- bootstrap 4 js -->
  <script src="/admin/assets/js/popper.min.js"></script>
  <script src="/admin/assets/js/bootstrap.min.js"></script>
  <script src="/admin/assets/js/owl.carousel.min.js"></script>
  <script src="/admin/assets/js/metisMenu.min.js"></script>
  <script src="/admin/assets/js/jquery.slimscroll.min.js"></script>
  <script src="/admin/assets/js/jquery.slicknav.min.js"></script>

  <!-- others plugins -->
  <script src="/admin/assets/js/plugins.js"></script>
  <script src="/admin/assets/js/scripts.js"></script>

  <script type="text/javascript">
    function submit () {
      confirm("저장하시겠습니까?");
    }

    function remove () {
      confirm("삭제하시겠습니까?");
    }
  </script>
</body>

</html>
