<div class="sidebar-menu">
  <div class="sidebar-header">
    <div class="logo">
      <a href="index.html"><img src="assets/images/icon/logo.png" alt="logo"></a>
    </div>
  </div>
  <div class="main-menu">
    <div class="menu-inner">
      <nav>
        <ul class="metismenu" id="menu">
          <li class="active"><a href="index.html"><i class="ti-dashboard"></i> <span>dashboard</span></a></li>
          <li><a href="./view/login/login.html"><i class="ti-dashboard"></i> <span>로그인</span></a></li>
          <li>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>메인 관리</span></a>
            <ul class="collapse">
              <li><a href="./view/main/mainImage/list.html">메인이미지 관리</a></li>
              <li><a href="./view/main/popup/list.html">팝업 관리</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>학원소개 관리</span></a>
            <ul class="collapse">
              <li><a href="./view/introduce/introduce/edit.html">학원소개 관리</a></li>
              <li><a href="./view/introduce/teacher/list.html">선생님 관리</a></li>
              <li><a href="./view/introduce/history/list.html">학원연혁 관리</a></li>
              <li><a href="./view/introduce/location/edit.html">찾아오시는길 관리</a></li>
            </ul>
          </li>
          <li><a href="./view/program/list.html"><i class="ti-dashboard"></i> <span>프로그램 관리</span></a></li>
          <li>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>갤러리 관리</span></a>
            <ul class="collapse">
              <li><a href="./view/gallery/list1.html">유아부 관리</a></li>
              <li><a href="./view/gallery/list2.html">유치부 관리</a></li>
              <li><a href="./view/gallery/list2.html">초등부 관리</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>커뮤니티 관리</span></a>
            <ul class="collapse">
              <li><a href="./view/community/news/list.html">학원소식 관리</a></li>
              <li><a href="./view/community/faq/list.html">자주묻는질문 관리</a></li>
              <li><a href="./view/community/qna/list.html">1:1문의 관리</a></li>
              <li><a href="./view/community/reservation/list.html">상담예약 관리</a></li>
            </ul>
          </li>
          <li><a href="./view/account/list.html"><i class="ti-dashboard"></i> <span>관리자계정 관리</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>